node_modules
build
downloads
temp
outputs
venv
backgrounds/dog
backgrounds/outro
backgrounds/cat
.puppeteer-profile
chrome-profile
remade_videos

# Ignore toàn bộ trong channel
channels/
# Không ignore các folder con (để Git còn duyệt vào bên trong)
!channels/*
# Ignore tất cả bên trong các folder con
channels/*/
# Nhưng cho phép file .xlsx
!channels/*/*.xlsx