node_modules
build
downloads
temp
outputs
venv
backgrounds/dog
backgrounds/outro
backgrounds/cat
.puppeteer-profile
temp-chrome-profile
chrome-profile

# Ignore toàn bộ trong channel
channel/
# Không ignore các folder con (để Git còn duyệt vào bên trong)
!channel/*
# Ignore tất cả bên trong các folder con
channel/*/
# Nhưng cho phép file .xlsx
!channel/*/*.xlsx